---
interface Props {
	title: string;
}

const { title } = Astro.props;
const { currentLocale } = Astro;
---

<!doctype html>
<html lang={`${currentLocale}`}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		/* background: #13151a; */
		background-size: 224px;
		user-select: none;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	/* #app {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.swiper {
		width: 500px;
		height: 700px;
	}

	.swiper-slide {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 18px;
		font-size: 22px;
		font-weight: bold;
		color: #fff;
		padding: 20px;
	}

	.swiper-slide:nth-child(1n) {
		background-color: rgb(206, 17, 17);
	}

	.swiper-slide:nth-child(2n) {
		background-color: rgb(0, 140, 255);
	}

	.swiper-slide:nth-child(3n) {
		background-color: rgb(10, 184, 111);
	}

	.swiper-slide:nth-child(4n) {
		background-color: rgb(211, 122, 7);
	}

	.swiper-slide:nth-child(5n) {
		background-color: rgb(118, 163, 12);
	}

	.swiper-slide:nth-child(6n) {
		background-color: rgb(180, 10, 47);
	}

	.swiper-slide:nth-child(7n) {
		background-color: rgb(35, 99, 19);
	}

	.swiper-slide:nth-child(8n) {
		background-color: rgb(0, 68, 255);
	}

	.swiper-slide:nth-child(9n) {
		background-color: rgb(218, 12, 218);
	}

	.swiper-slide:nth-child(10n) {
		background-color: rgb(54, 94, 77);
	} */

</style>
